<div ma-dialog-title class="institution-dialog__header border-none">
    <div class="modal-header border-none">
        <h2>{{ 'Martyr Photo' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div class="row mt-3">
        <div class="m-auto">
        <img src={{data.Adres}} class="ml-auto rounded" width="100%"/>
        </div>
    </div>
</mat-dialog-content>