<footer class="main-footer footer__bgcolor w-100 ml-0">
    
    <div class="row">
        <div class="m-auto mt-0 col-6 col-lg-3 col-md-4">
            <div class="row">
            <div class="col-4"><div class="d-flex justify-content-center"><a class="btn text-white">{{ 'Homepage' | translate }}</a></div></div>
            <div class="col-4"><div class="d-flex justify-content-center"><a class="btn text-white">{{ 'About' | translate }}</a></div></div>
            <div class="col-4"><div class="d-flex justify-content-center"><a class="btn text-white">{{ 'Contact' | translate }}</a></div></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="m-auto col-6 col-lg-3 col-md-4 p-2 border-top border-white">
            <div class="d-flex justify-content-center">
            <img src="assets/img/LOGO.png" width="50px" height="50px" class="rounded-circle">
            </div>
        </div>
    </div>
</footer>