<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>{{ 'First Name' | translate}} {{ 'Last Name' | translate }}</th>
                    <th>{{ 'Phone Number' | translate }}</th>
                    <th>{{ 'Institution Name' | translate }}</th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of data">
                    <td>{{ item.UserFirstName}} {{item.UserLastName}}</td>
                    <td>{{item.UserPhone}}</td>
                    <td>{{item.InstitutionName}}</td>
                    <td class="list-button text-right">
                        <a class="btn btn-primary btn-sm ml-1" href="#">
                            <i class="fas fa-folder"></i> {{ 'Examine' | translate }}</a>
                        <a class="btn btn-info btn-sm ml-1" href="#">
                            <i class="fas fa-pencil-alt"></i> {{ 'Edit' | translate }}</a>
                        <a class="btn btn-danger btn-sm ml-1" href="#">
                            <i class="fas fa-trash"></i> {{ 'Delete' | translate }}</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
