<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>{{ 'User No' | translate }}</th>
                    <th>{{ 'First Name' | translate }} {{ 'Last Name' | translate }}</th>
                    <th>{{ 'Institution Name' | translate }}</th>
                    <th>{{ 'User Type' | translate }}</th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of data">
                    <td>{{ user.UserID }}</td>
                    <td>{{ user.UserFirstName }} {{ user.UserLastName }}</td>
                    <td>{{ user.InstitutionName }}</td>
                    <th>{{ user.UserStatusName }}</th>
                    <td class="list-button text-right">
                        <a (click)="examineOpenDialog(user.UserID)" class="btn btn-primary btn-sm ml-1 text-light">
                            <i class="fas fa-folder"></i> {{ 'Examine' | translate }}</a>
                        <a class="btn btn-info btn-sm ml-1" [routerLink]="['/admin/user/edit/',user.UserID]">
                            <i class="fas fa-pencil-alt"></i> {{ 'Edit' | translate }}</a>
                        <a (click)="userDelete(user.UserID)" class="btn btn-danger btn-sm ml-1 text-light">
                            <i class="fas fa-trash"></i> {{ 'Delete' | translate }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>