<div ma-dialog-title class="institution-dialog__header">
  <div class="modal-header">
    <h2>{{ 'Martyr Image Update' | translate}}</h2>
    <a [mat-dialog-close]="false" class="close-icon">
      <mat-icon>close</mat-icon>
    </a>
  </div>
</div>

<mat-dialog-content class="mat-typography institution-dialog__content">
  <img src="{{martyrImage}}" width="100%" height="250px;">
  <div class="form-group">
    <input style="display: none" type="file" (change)="onFileSelect($event)" name="MartyrImage" #MartyrImage
      accept="image/*">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'Martyr Image' | translate }}</mat-label>
      <input matInput disabled type="text" value="{{martyrNewImage?.name}}" #ImageName required>
      <a type="button" (click)="MartyrImage.click()" matSuffix>
        <mat-icon>backup</mat-icon>
      </a>
    </mat-form-field>
  </div>
  <button type="submit" (click)="onSave()" class="btn btn-info w-100">{{'Save'| translate}}</button>
</mat-dialog-content>