<div class="row">
    <div class="col-md-3 col-sm-12 ml-auto ">
        <mat-form-field>
            <mat-label>{{ 'Search' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText">
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
    {{ searchText }}
</div>
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>{{ 'Institution No' | translate}}</th>
                    <th>{{ 'Institution Name' | translate }}</th>
                    <th>{{ 'E-mail' | translate }}</th>
                    <th>{{ 'Phone' | translate }}</th>
                    <th>{{ 'City/District ' | translate }}</th>
                    <th style="width: 1%;"></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let Institution of data | filter:searchText">
                    <td>{{ Institution.InstitutionID }}</td>
                    <td>{{ Institution.InstitutionName }}</td>
                    <td>{{ Institution.InstitutionEmail }}</td>
                    <td>{{ Institution.InstitutionPhone }}</td>
                    <td>{{ Institution.InstitutionCity }} / {{Institution.InstitutionDistrict}}</td>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="list-menu">more_vert</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item (click)="examineOpenDialog(Institution.InstitutionID)">
                                <mat-icon>remove_red_eye</mat-icon>
                                <span>{{ 'Examine' | translate }}</span>
                            </a>
                            <a mat-menu-item [routerLink]="['/admin/institution/edit/',Institution.InstitutionID]">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'Edit' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)="onInstitutionDelete(Institution.InstitutionID)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>