<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>{{ 'Institution No' | translate}}</th>
                    <th>{{ 'Institution Name' | translate }}</th>
                    <th>{{ 'E-mail' | translate }}</th>
                    <th>{{ 'Phone' | translate }}</th>
                    <th>{{ 'City/District ' | translate }}</th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let Institution of data">
                    <td>{{ Institution.InstitutionID }}</td>
                    <td>{{ Institution.InstitutionName }}</td>
                    <td>{{ Institution.InstitutionEmail }}</td>
                    <td>{{ Institution.InstitutionPhone }}</td>
                    <td>{{ Institution.InstitutionCity }}/{{Institution.InstitutionDistrict}}</td>
                    <td class="list-button text-right">
                        <a (click)="openMartyrDialog()"
                            class="btn btn-primary btn-sm ml-1 text-light">
                            <i class="fas fa-folder"></i> {{ 'Examine' | translate }}</a>
                        <a class="btn btn-info btn-sm ml-1"
                            [routerLink]="['/admin/institution/edit/',Institution.InstitutionID]">
                            <i class="fas fa-pencil-alt"></i> {{ 'Edit' | translate }}</a>
                        <a (click)="onInstitutionDelete(Institution.InstitutionID)"
                            class="btn btn-danger btn-sm ml-1  text-light">
                            <i class="fas fa-trash"></i> {{ 'Delete' | translate }}</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>