<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
        <h2>{{ 'User information' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>

<mat-dialog-content class="mat-typography institution-dialog__content">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Personal Information' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'T.R. Identification Number' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="user.UserIdentityNo" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'First Name' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="user.UserFirstName" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Last Name' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="user.UserLastName" disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Contact Information and User Type' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Phone Number' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="user.UserPhone" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Email Address' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="user.UserEmail" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'User Type' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="user.UserStatusName" disabled=true>
                        </mat-form-field>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Institution Information' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Institution Name' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="institution.InstitutionName" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Email Address' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="institution.InstitutionEmail" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Phone Number' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="institution.InstitutionPhone" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'City' | translate }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="institution.InstitutionCity" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'District' | translate }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="institution.InstitutionDistrict" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>