<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index.html" class="brand-link logo-switch">
        <img src="favicon.ico" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
        <img src="favicon.ico" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
            style="left: 12px">
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a href="index.html" class="nav-link ">
                        <i class="nav-icon fa fa-microchip"></i>
                        <p>Installation</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="dependencies.html" class="nav-link ">
                        <i class="nav-icon fas fa-handshake"></i>
                        <p>Dependencies & Plugins</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="layout.html" class="nav-link ">
                        <i class="nav-icon fa fa-copy"></i>
                        <p>Layout</p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="components" class="nav-link active">
                        <i class="nav-icon fa fa-th"></i>
                        <p>
                            Components
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="components/main-header.html" class="nav-link ">
                                <i class="fa fa-circle nav-icon"></i>
                                <p>Main Header</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="components/main-sidebar.html" class="nav-link active">
                                <i class="fa fa-circle nav-icon"></i>
                                <p>Main Sidebar</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>