<form #signUpForm='ngForm' (ngSubmit)="onSave(signUpForm)">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Personal Informations' | translate }}</h3>
                </div>
                <div class="card-body pad">
                    <div class="form-group">
                        <label>{{ 'T.R. Identification Number' | translate }}</label>
                        <input type="text" class="form-control"
                            placeholder="{{ 'Enter T.R. Identification Number' | translate }}" name="UserIdentityNo"
                            #UserIdentityNo="ngModel" [(ngModel)]="_model.UserIdentityNo" required>
                        <lable *ngIf="UserIdentityNo.invalid&&UserIdentityNo.dirty" class="validation-message__error">
                            {{ 'T.R. Identification Number field must be filled' | translate }}</lable>
                    </div>
                    <div class="form-group">
                        <label>{{ 'First Name' | translate }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'Enter First Name' | translate }}"
                            name="UserFirstName" #UserFirstName="ngModel" [(ngModel)]="_model.UserFirstName" required>
                        <lable *ngIf="UserFirstName.invalid&&UserFirstName.dirty" class="validation-message__error">
                            {{ 'User first name field must be filled' | translate }}</lable>
                    </div>
                    <div class="form-group">
                        <label>{{ 'Last Name' | translate }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'Enter Last Name' | translate }}"
                            name="UserLastName" #UserLastName="ngModel" [(ngModel)]="_model.UserLastName" required>
                        <lable *ngIf="UserLastName.invalid&&UserLastName.dirty" class="validation-message__error">
                            {{ 'User last name field must be filled' | translate }}</lable>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Contact information' | translate }}</h3>
                </div>
                <div class="card-body pad">
                    <div class="form-group">
                        <label>{{ 'Phone Number' | translate }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'Enter Phone Number' | translate }}"
                            name="UserPhone" #UserPhone="ngModel" [(ngModel)]="_model.UserPhone" required>
                        <lable *ngIf="UserPhone.invalid&&UserPhone.dirty" class="validation-message__error">
                            {{ 'Phone number field must be filled' | translate }}</lable>
                    </div>
                    <div class="form-group">
                        <label>{{ 'Email Address' | translate }}</label>
                        <input type="email" class="form-control" placeholder="{{ 'Enter Email Address' | translate }}"
                            name="UserEmail" #UserEmail="ngModel" [(ngModel)]="_model.UserEmail" required>
                        <lable *ngIf="UserEmail.invalid&&UserEmail.dirty" class="validation-message__error">
                            {{ 'Email adress field must be filled' | translate }}</lable>
                    </div>
                    <div class="form-group">
                        <label>{{ 'Institution Name' | translate }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'Enter Institution Name' | translate }}"
                            disabled=true>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Safety Informations' | translate }}</h3>
                </div>
                <div class="card-body pad">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>{{ 'Password' | translate }}</label>

                                <div class="input-group">
                                    <input [type]=" _passwordShowHide ? 'text' : 'password'" class="form-control"
                                        placeholder="{{ 'Enter Password' | translate }}" name="UserPassword"
                                        minlength="6" #UserPassword="ngModel" [(ngModel)]="_model.UserPassword"
                                        required>
                                    <div class="input-group-prepend">
                                        <span (click)='onPasswordToggle()' class="input-group-text"><i
                                                [class]="_passwordShowHide ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></span>
                                    </div>
                                </div>

                                <div *ngIf="UserPassword.invalid && (UserPassword.dirty || UserPassword.touched)">
                                    <lable *ngIf="UserPassword.errors.required" class="validation-message__error">
                                        {{ 'Email adress field must be filled' | translate }}</lable>
                                    <lable *ngIf="UserPassword.errors.minlength" class="validation-message__error">
                                        {{ 'Password cannot be shorter than 6 characters' | translate }}</lable>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                <button type="button" (click)="onAutomaticPasswordGeneration()"
                                    class="btn btn-success">{{ 'Automatic password generation' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-info form-large-button">{{ 'Save' | translate }}</button>
        </div>
    </div>
</form>