<mat-dialog-content class="mat-typography">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-10">
                    <h1 class="m-0 text-dark">{{ 'Institution Information' | translate}}</h1>
                </div>
                <div class="col-2 text-right text-muted">
                    <i class="fa fa-2x fa-university"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Institution Information' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Institution Name' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="institution.InstitutionName" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Email Address' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="institution.InstitutionEmail" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Phone Number' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="institution.InstitutionPhone" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'City' | translate }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="institution.InstitutionCity" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'District' | translate }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="institution.InstitutionDistrict" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Institution Personel List' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>{{ 'User No' | translate }}</th>
                                        <th>{{ 'First Name' | translate }} {{ 'Last Name' | translate }}</th>
                                        <th>{{ 'Phone' | translate }}</th>
                                        <th>{{ 'E-Mail' | translate }}</th>
                                        <th>{{ 'User Type' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{ user.UserID }}</td>
                                        <td>{{ user.UserFirstName }} {{ user.UserLastName }}</td>
                                        <td>{{ user.UserPhone }}</td>
                                        <td>{{ user.UserEmail }}</td>
                                        <td>{{ user.UserStatusName }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>