<div class="bg-light w-300 banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 justify-content-center align-self-center">
                <h1 class="text-dark pt-2 text-center mobile-hide hide banner__title">
                    {{ 'ŞEHİT TOLGA ARTUG ANISINA' | translate }}</h1>
            </div>
            <div class="col-md-4 text-right text-center">
                <img class="banner__flag" src="assets/img/STA.png" />
            </div>
        </div>
    </div>
</div>