<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
        <h2>{{ 'Change Password' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>
<mat-dialog-content class="mat-typography institution-dialog__content">
    <div class="form">

        <mat-form-field appearance="outline">
            <mat-label>{{ 'Password' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'Enter Password' | translate }}"
                name="Password" #Password required>
            <mat-error *ngIf="Password.invalid&&Password.touched">
                {{ 'Password field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ 'New Password' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'Enter New Password' | translate }}"
                name="NewPassword" #NewPassword required>
            <mat-error *ngIf="NewPassword.invalid&&NewPassword.touched">
                {{ 'Password field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ 'Repeat New Password' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'Repeat New Password' | translate }}"
                name="RepeatNewPassword" #RepeatNewPassword required>
            <mat-error *ngIf="RepeatNewPassword.invalid&&RepeatNewPassword.touched">
                {{ 'Password field must be filled' | translate }}</mat-error>
        </mat-form-field>
        


        <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>



    </div>
</mat-dialog-content>