<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Institution Information' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Institution Name' | translate }}</mat-label>
                            <input matInput type="text" placeholder="{{ 'Enter Phone Number' | translate }}"
                                name="UserPhone" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Email Address' | translate }}</mat-label>
                            <input matInput type="text" placeholder="{{ 'Enter Phone Number' | translate }}"
                                name="UserPhone" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'Phone Number' | translate }}</mat-label>
                            <input matInput type="text" placeholder="{{ 'Enter Phone Number' | translate }}"
                                name="UserPhone" disabled>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'City' | translate }}</mat-label>
                                    <input matInput type="text" placeholder="{{ 'Enter Phone Number' | translate }}"
                                        name="UserPhone" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'District' | translate }}</mat-label>
                                    <input matInput type="text" placeholder="{{ 'Enter Phone Number' | translate }}"
                                        name="UserPhone" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Institution Personel List' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>{{ 'User No' | translate }}</th>
                                        <th>{{ 'First Name' | translate }} {{ 'Last Name' | translate }}</th>
                                        <th>{{ 'Institution Name' | translate }}</th>
                                        <th>{{ 'User Type' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ 'User No' | translate }}</td>
                                        <td>{{ 'First Name' | translate }} {{ 'Last Name' | translate }}</td>
                                        <td>{{ 'Institution Name' | translate }}</td>
                                        <td>{{ 'User Type' | translate }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'User No' | translate }}</td>
                                        <td>{{ 'First Name' | translate }} {{ 'Last Name' | translate }}</td>
                                        <td>{{ 'Institution Name' | translate }}</td>
                                        <td>{{ 'User Type' | translate }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'User No' | translate }}</td>
                                        <td>{{ 'First Name' | translate }} {{ 'Last Name' | translate }}</td>
                                        <td>{{ 'Institution Name' | translate }}</td>
                                        <td>{{ 'User Type' | translate }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'User No' | translate }}</td>
                                        <td>{{ 'First Name' | translate }} {{ 'Last Name' | translate }}</td>
                                        <td>{{ 'Institution Name' | translate }}</td>
                                        <td>{{ 'User Type' | translate }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>